[Desktop Entry]
Version=2.7.3
Encoding=UTF-8
Name=System76 Driver
GenericName=System76 Driver
Comment=Installs Drivers for System76 Systems
Exec=system76-driver
Terminal=false
Type=Application
Icon=/opt/system76/system76-driver/src/images/76icon.svg
Categories=System;Settings;DesktopSettings;X-GNOME-Settings-Panel;HardwareSettings;
GenericName[en_US]=System76 Driver
X-GNOME-Settings-Panel=system76-driver
