[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NVIDIA X Server Settings
Comment=Configure NVIDIA X Server Settings
Exec=gksu /usr/bin/nvidia-settings
Icon=/usr/share/pixmaps/nvidia-settings.png
Categories=System;Settings;
