[Desktop Entry]
Version=1.1
Encoding=UTF-8
Name=System76 Driver
GenericName=System76 Driver
Comment=Installs Drivers for System76 Systems
Exec=system76-driver
Terminal=false
Type=Application
Icon=system76-driver
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;X-Unity-Settings-Panel;
GenericName[en_US]=System76 Driver
X-Unity-Settings-Panel=system76-driver
X-GNOME-Settings-Panel=system76-driver
