[Desktop Entry]
Version=1.1
Encoding=UTF-8
Name=System76 Firmware Updater
GenericName=System76 Firmware Updater
Comment=Updates Firmware on System76 Systems
Exec=sh -c "sleep 5; system76-firmware --notification& system76-firmware --notification --thelio_io"
Terminal=false
Type=Application
Icon=system76-driver
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;X-Unity-Settings-Panel;
GenericName[en_US]=System76 Firmware Updater
X-Unity-Settings-Panel=system76-firmware
X-GNOME-Settings-Panel=system76-firmware
