Source: system76-driver
Section: utils
Priority: extra
Maintainer: System76, Inc. <dev@system76.com>
Build-Depends: debhelper (>= 9.20160709),
    dh-python,
    gir1.2-gtk-3.0,
    gir1.2-notify-0.7,
    pyflakes3,
    python3-all (>= 3.6),
    python3-dbus,
    python3-evdev,
    python3-gi,
    python3-distro,
    python3-systemd,
    xbacklight
Standards-Version: 4.5.0
X-Python3-Version: >= 3.6
Homepage: https://launchpad.net/system76-driver

Package: system76-driver
Architecture: amd64 arm64
Suggests: gnome-color-manager
Depends: ${python3:Depends}, ${misc:Depends},
    at,
    firmware-manager-virtual [amd64],
    gir1.2-gtk-3.0,
    gir1.2-notify-0.7,
    ifupdown,
    linux-system76,
    pm-utils,
    python3-dbus,
    python3-evdev,
    python3-gi,
    python3-distro,
    python3-systemd,
    system76-acpi-dkms [amd64],
    system76-dkms [amd64],
    system76-firmware-daemon [amd64],
    system76-io-dkms,
    system76-oled [amd64],
    system76-power,
    system76-power-applet-virtual [amd64],
    xbacklight,
    usbutils,
Recommends: hidpi-daemon [amd64],
            lm-sensors,
            system76-wallpapers
Description: Universal driver for System76 computers
 System76 Driver provides drivers, restore, and regression support for System76
 computers running Ubuntu.  Click the Device Menu (power icon at the top right
 of your screen) and choose System Settings.  Click System76 Driver to install
 drivers or restore your computer.

Package: system76-driver-nvidia
Architecture: amd64 arm64
Depends: ${misc:Depends},
    nvidia-driver-580-open | nvidia-driver-580 | nvidia-driver-570-open |
    nvidia-driver-570 | nvidia-driver-550 | nvidia-driver-470,
    system76-driver (>= ${binary:Version}),
    ubuntu-drivers-common,
Recommends: amd-ppt-bin [amd64]
Description: Latest nvidia driver for System76 computers
 This dummy package depends on the latest driver tested with and recommended for
 System76 products with an nvidia GPU.
 .
 When this package is installed, you will automatically be upgraded to newer
 nvidia driver versions after System76 has thouroughly tested them.
 .
 This driver will generally depend on a newer nvidia driver than the official
 nvidia-current-updates Ubuntu package.
 .
 If you don't want to be automatically upgraded to newer nvidia drivers, simply
 remove this package.
