#!/usr/bin/make -f

#export DH_VERBOSE = 1
export PYBUILD_NAME = system76driver
export PYBUILD_TEST_PYTEST = 1

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installgsettings:
	dh_installgsettings --priority=40

override_dh_installdeb:
	dh_installdeb
	cp debian/conffiles debian/system76-driver/DEBIAN/conffiles
