#!/usr/bin/make -f

%:
	dh $@ --with=python3,systemd --buildsystem=pybuild

override_dh_auto_build:
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py build \
				--executable=/usr/bin/python3; \
	done

override_dh_auto_test:
	set -ex; for python in $(shell py3versions -r); do \
	    LC_ALL=C.UTF-8 $$python setup.py test --skip-gtk; \
	done

override_dh_auto_install:
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py install \
				--install-layout=deb \
				--root=$(CURDIR)/debian/system76-driver; \
	done
	mkdir -p $(CURDIR)/debian/system76-driver/var/lib/system76-driver
	install -m 644 -D debian/system76-driver-hidpi.user-session.upstart debian/system76-driver/usr/share/upstart/sessions/system76-driver-hidpi.conf

override_dh_installgsettings:
	dh_installgsettings --priority=40
