[Unit]
Description=System76 Firmware Updater

[Service]
ExecStart=/usr/bin/system76-firmware --notification
Restart=always

[Install]
WantedBy=graphical.target

