[Unit]
Description=System76 Firmware Updater

[Service]
ExecStart=/usr/lib/system76-driver/system76-firmware-cli --reinstall
Restart=always

[Install]
WantedBy=graphical.target

