[Unit]
Description=System76 Backlight Daemon for NVIDIA 9 Series on GNOME
PartOf=graphical-session.target

[Service]
ExecStart=/usr/lib/system76-driver/system76-backlight-daemon
Restart=on-failure

[Install]
WantedBy=default.target

