[Unit]
Description=System76 HiDPI Daemon for Unity

[Service]
ExecStart=/usr/lib/system76-driver/system76-hidpi-daemon
Restart=on-failure

[Install]
WantedBy=ubuntu-session.target

