[Unit]
Description=System76 airplane-mode hotkey and LED support

[Service]
ExecStart=/usr/lib/system76-driver/system76-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target

