##
# udev rules file for Fprint's libpfprint0 library

# Device aes1610
ATTRS{idVendor}=="08ff", ATTRS{idProduct}=="1600", MODE="0664", GROUP="plugdev"
# Device aes2501
ATTRS{idVendor}=="08ff", ATTRS{idProduct}=="2580", MODE="0664", GROUP="plugdev"
# Device aes4000
ATTRS{idVendor}=="08ff", ATTRS{idProduct}=="5501", MODE="0664", GROUP="plugdev"
# Device fdu2000
ATTRS{idVendor}=="1162", ATTRS{idProduct}=="0300", MODE="0664", GROUP="plugdev"
# Device upektc
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="2015", MODE="0664", GROUP="plugdev"
# Device upekts
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="2016", MODE="0664", GROUP="plugdev"
# Device uru4000
ATTRS{idVendor}=="045e", ATTRS{idProduct}=="00bb", MODE="0664", GROUP="plugdev"
# Device uru4000
ATTRS{idVendor}=="045e", ATTRS{idProduct}=="00bc", MODE="0664", GROUP="plugdev"
# Device uru4000
ATTRS{idVendor}=="045e", ATTRS{idProduct}=="00bd", MODE="0664", GROUP="plugdev"
# Device uru4000
ATTRS{idVendor}=="045e", ATTRS{idProduct}=="00ca", MODE="0664", GROUP="plugdev"
# Device uru4000
ATTRS{idVendor}=="05ba", ATTRS{idProduct}=="0007", MODE="0664", GROUP="plugdev"
# Device uru4000
ATTRS{idVendor}=="05ba", ATTRS{idProduct}=="000a", MODE="0664", GROUP="plugdev"
# Device upek
ATTRS{idVendor}=="147e", ATTRS{idProduct}=="1001", MODE="0664", GROUP="plugdev"
# Device upek
ATTRS{idVendor}=="147e", ATTRS{idProduct}=="2016", MODE="0664", GROUP="plugdev"
